services:
  db:
    image: postgres:16-alpine
    container_name: portfolio-db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: portfolio
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
